LLENGUATGE DE MARQUES/RA1/DTD/AC01/AC01_Exercici5.dtd

<!ELEMENT team ((player+, trainer+)*)>
<!ELEMENT player (name, lastname, height?, position*)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT position (#PCDATA)>
<!ELEMENT trainer EMPTY>
<!ATTLIST player code ID #REQUIRED>
<!ATTLIST trainer name CDATA #REQUIRED>
<!ATTLIST trainer players IDREFS #IMPLIED>