LLENGUATGE DE MARQUES/RA1/DTD/AC03_Exercici1.dtd

<!ELEMENT biblioteca (llibre*)>
<!ELEMENT llibre (autor+, titol, isbn?,estat)>
<!ELEMENT autor (nom, cognom+)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT cognom (#PCDATA)>
<!ELEMENT titol (#PCDATA)>
<!ELEMENT estat EMPTY>
<!ELEMENT isbn (#PCDATA)>
<!ATTLIST llibre cod ID #REQUIRED>
<!ATTLIST estat prestado CDATA "No">